.eventTitle {
    margin-left: 5px;
    margin-top: 15px;
}

.editButton {
    margin-top: auto;
}

.titleNavBar {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1.5rem;
}

#eventNav {
    margin-top: 1.5rem;
    margin-bottom: 0px;
}